# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[0]

In [6]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0].tolist()
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]
print(log_files[0])

/home/workspace/data/log_data/2018/11/2018-11-30-events.json

In [13]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df[df['page'] == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-30 00:22:07.796
1   2018-11-30 01:08:41.796
2   2018-11-30 01:12:48.796
3   2018-11-30 01:17:05.796
4   2018-11-30 01:20:56.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = pd.concat([t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday], axis=1)
column_labels = ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']

In [17]:
time_df = pd.DataFrame(time_data.values, columns=column_labels)
time_df.head()

                   start_time hour day week month  year weekday
0  2018-11-30 00:22:07.796000    0  30   48    11  2018       4
1  2018-11-30 01:08:41.796000    1  30   48    11  2018       4
2  2018-11-30 01:12:48.796000    1  30   48    11  2018       4
3  2018-11-30 01:17:05.796000    1  30   48    11  2018       4
4  2018-11-30 01:20:56.796000    1  30   48    11  2018       4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [21]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    print((row.song, row.artist, row.length))
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

("Jim Henson's Dead", 'Stephen Lynch', 182.85669)
('Shell Shock', 'Manowar', 247.562)
('Women Lose Weight (Feat: Slick Rick)', 'Morcheeba', 257.41016)
("Won't Go Home Without You", 'Maroon 5', 231.23546)
('Hey_ Soul Sister', 'Train', 216.76363)
("I'm In Miami Bitch", 'LMFAO', 227.99628)
('Sexy Bitch', 'DJ Dizzy', 221.1522)
('The Cure & The Cause (Dennis Ferrer Remix)', 'Fish Go Deep & Tracey K', 377.41669)
('Staring At Me', 'M83', 96.1824)
('The Second You Sleep', 'Saybia', 257.25342)
('Wide Eyes', 'Local Natives', 266.05669)
('La Resistance (Medley) (LP Version)', 'South Park', 112.97914)
('Restless', 'UNKLE Feat. Josh Homme', 307.19955)
('Noc...', 'Justyna Steczkowska', 333.53098)
('Like You', 'Evanescence', 256.91383)
('God Put A Smile Upon Your Face', 'Coldplay', 297.35138)
('Playboy', 'Hot Chip', 333.50485)
('Every Time You Go', 'Ellie Goulding', 205.06077)
('Natural Anthem (Album)', 'Postal Service', 307.53914)
('Taylor', 'Jack Johnson', 240.06485)
('Naked As We Can', 'Iron And Wine', 153.05098)
('Fantasy', 'The xx', 158.24934)
('Epilogue', 'The Antlers', 328.88118)
("Groovin'", 'Fattburger', 217.20771)
("Ain't No Way (You Won't Love Me)", 'Chris Brown', 203.80689)
('Rome', 'Phoenix', 278.07302)
('Highway Through My Home', 'Jim Lauderdale/Ralph Stanley & The Clinch Mountain Boys', 127.05914)
('143', 'Musiq', 297.84771)
('Dreams-Come-True-Girl', 'Cass McCombs feat. Karen Black', 322.06322)
("I Don't Feel Like Dancin'", 'Scissor Sisters', 352.522)
('Right On Time (Album Version)', 'O.A.R.', 315.74159)
('Black Lines', '1 Mile North', 352.73098)
('Uprising', 'Muse', 304.84853)
('Man Makes The Zoo', 'USS (Ubiquitous Synergy Seeker)', 307.61751)
('Blacks/Radio', 'The Psychedelic Furs', 417.07057)
('Love Dealer (Featuring Justin Timberlake)', 'EsmÃ\x83Â©e Denters / Justin Timberlake', 227.52608)
('ReprÃ\x83Â©sente', 'Alliance Ethnik', 252.21179)
('Hey_ Soul Sister', 'Train', 216.76363)
('Up And Gone', 'Hoobastank', 202.57914)
('Te Conoci', 'Ismael Serrano', 179.35628)
('Bottle Pop', 'The Pussycat Dolls / Snoop Dogg', 210.31138)
('My Love Will Follow You', 'Dierks Bentley', 198.63465)
('Found Home', '59 Times the Pain', 144.95302)
('My December', 'Linkin Park', 259.86567)
('The Perfect Kiss', 'New Order', 288.05179)
("You're Gonna Make Me Lonesome When You Go", 'Madeleine Peyroux', 206.18404)
('Shortie Like Mine', 'Bow Wow feat. Chris Brown and JohntÃ\x83Â¡ Austin', 268.06812)
('Domination', 'Symphony X', 389.45914)
('Inside My Love (Digitally Remastered 93)', 'Minnie Riperton', 238.73261)
('Structure', 'Custom Blue', 346.51383)
('Killing In The Name', 'Rage Against The Machine', 314.40934)
("Girl You Know It's True", 'Milli Vanilli', 197.92934)
('Waterfall (Spirit Of The Rainforest Album Version)', 'David Arkenstone', 363.41506)
('Robot Soul (Radio Edit)', 'Cosmo Vitelli', 206.05342)
('Blindfold', 'Morcheeba', 277.4722)
("I'm Yours (Album Version)", 'Jason Mraz', 243.48689)
('Say Hello', 'Deep Dish', 274.28526)
('(I Just) Died In Your Arms', 'Cutting Crew', 263.07873)
('Sweet Jane', 'The Velvet Underground', 240.66567)
('Gears', 'Future Rock', 239.90812)
('Seven Nation Army (Album Version)', 'The White Stripes', 231.81016)
('Fix You', 'Coldplay', 294.1122)
('It Could Be Sweet', 'Portishead', 259.99628)
('If This Was The Last Song', 'Thelma Houston', 196.51873)
('Poppiholla', 'Chicane', 223.92118)
('The Unforgiven III', 'Metallica', 466.54649)
('Apresurate', 'Jennifer Lopez', 301.34812)
('There Is', 'Box Car Racer', 196.93669)
('Would That Make U Love Me', 'Robin Thicke', 216.68526)
('Screaming Infidelities', 'Dashboard Confessional', 226.29832)
('Big Idea', 'Radney Foster', 205.84444)
('Bulletproof', 'La Roux', 205.60934)
('The Tune', 'Wax Tailor', 177.68444)
('Trani', 'Kings Of Leon', 300.56444)
('Girl Money', 'Kix', 246.25587)
('Chloe Dancer/Crown Of Thorns', 'Mother Love Bone', 495.72526)
('The Bachelor and the Bride', 'The Decemberists', 252.81261)
('M', 'Telefon Tel Aviv', 222.09261)
("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 269.63546)
('You Sent Me Flying / Cherry', 'Amy Winehouse', 409.96526)
('Faithless', 'BEFORE THE DAWN', 195.65669)
('You Only Live Once', 'The Strokes', 187.34975)
('Tempting Time', 'Animals As Leaders', 323.83955)
('Flowers In December', 'Mazzy Star', 297.9522)
('Take It Back', 'Cream', 185.44281)
('Behind Two Hills&A Swimming Pool', 'MÃ\x83Âºm', 68.67546)
('My First Kiss (Feat. Ke$ha) [Album Version]', '3OH!3', 192.522)
('Straight Outta Compton (Extended Mix) (Edit) (Explicit)', 'N.W.A.', 266.26567)
("Goin' Home", 'Dan Auerbach', 296.95955)
('Sick', 'Lagwagon', 173.322)
('Fix You', 'Coldplay', 294.1122)
('Half Of My Heart', 'John Mayer', 250.38322)
('Revelry', 'Kings Of Leon', 201.79546)
('World Coming Down', 'Ashbury Heights', 198.60853)
('Fire', 'Scooter', 213.02812)
('Shoot Me Down', 'Boy Kill Boy', 220.47302)
('Juice (Know The Ledge)', 'Eric B. & Rakim', 241.60608)
("Hymne A L'Amour (Album Version)", 'Josh Groban', 243.40853)
("We're Only Gonna Die (Album Version)", 'Bad Religion', 131.86567)
('Next Hype', 'Tempa T', 236.35546)
('Fireflies', 'Charttraxx Karaoke', 225.17506)
('Hotel California', 'Eagles', 372.29669)
('Little Wing', 'Eric Clapton', 409.57342)
('Smothered (Album Version)', 'Spineshank', 187.6371)
('Try Your Best', 'Kaiser Chiefs', 221.07383)
('Le Courage Des Oiseaux', 'Dominique A', 153.20771)
('Lips Like Morphine (Album Version)', 'Kill Hannah', 224.49587)
('Kiedys zrozumiesz', 'I:gor', 190.27546)
("Fallin' Apart", 'The All-American Rejects', 206.96771)
("Don't Cry (Original)", "Guns N' Roses", 284.05506)
('Transparency', 'White Denim', 148.55791)
('La Suerte De Mi Vida', 'El Canto del Loco', 226.0371)
('Redwing', 'Grinderswitch', 268.2771)
('Starfish-On-The-Toast (2008 Digital Remaster)', 'Donovan', 169.22077)
('Illusions', 'As I Lay Dying', 348.1073)
('Bright Lights (Remastered Version)', 'matchbox twenty', 241.34485)
('Field Goal', 'Kinky', 105.32526)
('Nah!', 'Shania Twain', 250.51383)
('By The Way', 'Hinder', 231.73179)
('Keep On Running', 'The Spencer Davis Group', 165.27628)
('I Dont Wanna Wait', 'SOJA', 355.89179)
('Echonomix', 'Infected Mushroom', 463.72526)
('One By One', 'Unkle Bob', 160.10404)
('Sin Miedo a Nada (con Amaia Montero)', 'Alex Ubago', 313.28608)
('Bonnie Brae', 'The Twilight Singers', 286.53669)
('War', 'Chikita Violenta', 255.92118)
('Sad Lisa', 'Cat Stevens', 225.17506)
('The House That Nat Built (Album Version)', 'Kenny Garrett', 265.19465)
('Jealous Minds Think Alike', 'You Me At Six', 216.68526)
("My Mother's Eyes", 'Nellie Lutcher', 195.70893)
('Make Her Say', 'Kid Cudi / Kanye West / Common', 237.76608)
('Viaje Sin Rumbo (2004 Digital Remaster)', 'Tiro De Gracia', 214.83057)
('Dreamdancer', 'polarkreis 18', 265.29914)
('The Queen of Nothing', '+ / - {Plus/Minus}', 318.98077)
('Riot In Cell Block Number Nine', 'Dr Feelgood', 216.13669)
('Sehr kosmisch', 'Harmonia', 655.77751)
('Everything You Love (Album Version)', 'Chimaira', 377.36444)
("Someone Else's Life", 'Joshua Radin', 211.27791)
('Godine prolaze', 'Bajaga & Instruktori', 254.95465)
('Private Affair (Amended Album Version)', 'The Virgins', 169.37751)
('Ginko Biloba', "SA Rawls / Still Flyin' / Still Flyin'", 183.09179)
('Three Day Weekend', 'Grown Ups', 233.42975)
('Meen Dah Elly Nseik', 'Nancy Ajram', 221.67465)
('Boot On The Seat', 'The Donkeys', 272.19546)
('FaFaFa (Radio Edit)', 'Datarock', 228.49261)
('Human After All', 'Daft Punk', 319.42485)
('Somebody To Love', 'Justin Bieber', 220.89098)
('Real Love', 'Beach House', 320.44363)
('Subterranean Homesick Blues (Album Version)', 'The Walkmen', 199.36608)
("Can't Break Thru", 'Busted / Charlie Simpson / Mattie Jay / James Bourne', 252.83873)
('Get Me Bodied', 'BeyoncÃ\x83Â©', 374.59546)
('Maybe', 'Sick Puppies', 209.44934)
('Walk To The Water', 'U2', 289.2273)
("I CAN'T GET STARTED", 'Ron Carter', 497.13587)
('Breath After Breath', 'Duran Duran', 297.63873)
('Head Over Heels', 'Tears For Fears', 255.34649)
('Lonely As You', 'Foo Fighters', 277.10649)
('One Year_ Six Months', 'Yellowcard', 208.79628)
('Against The Wall', 'Big Tymers', 252.05506)
('Knocking On Forbidden Doors', 'Enigma', 262.71302)
('Hey Hey', 'Dennis Ferrer', 209.162)
('Somebody To Love', 'Justin Bieber', 220.89098)
('Genom tunna tyger', 'Markus KrunegÃ\x83Â¥rd', 185.5473)
('The Little Things Give You Away [Live At Milton Keynes]', 'Linkin Park', 439.562)
('Devil May Care', 'Jamie Cullum', 204.25098)
("Tell Me I'm A Wreck", 'Every Avenue', 219.95057)
('Constellations', 'Jack Johnson', 201.63873)
('Vuelve', 'Shakira', 233.87383)
('Give Me Anything', 'The Maine', 189.59628)
('Worm Infested', 'Cannibal Corpse', 209.00526)
('Headlights Look Like Diamonds', 'Arcade Fire', 267.80689)
('Hands Up', 'Black Eyed Peas', 215.7971)
('Sweet And Wild', 'Radney Foster', 288.96608)
('Satellite Mind', 'Metric', 222.85016)
("You're The One", 'Dwight Yoakam', 239.3073)
('Did You Get My Message? (Live From Montalvo)', 'Jason Mraz', 266.63138)
('N A Whitemanzeyez', 'Kutt Calhoun', 307.51302)
('Karma Police', 'Radiohead', 261.45914)
('Puto', 'Molotov', 127.37261)
('Killing Lies', 'The Strokes', 230.1122)
('Hallelujah', 'Rufus Wainwright', 249.62567)
("Ghosts 'n' Stuff (Original Instrumental Mix)", 'Deadmau5', 374.20363)
("You're The Voice", 'John Farnham', 300.72118)
('Inside Of You', 'Infant Sorrow', 170.16118)
('Clean Up Woman (Single/LP Version)', 'Betty Wright', 164.85832)
('Tranen Gelachen', 'Guus Meeuwis', 198.42567)
('The Small Print', 'Muse', 209.00526)
('A QuÃ\x83Â© Niegas El Delirio (MalagueÃ\x83Â±a) (Live)', 'Estrella Morente', 135.70567)
("It's My Life (Radio Edit)", 'Dr. Alban', 240.14322)
('Sit Down. Stand Up', 'Radiohead', 260.0224)
('Purple Weed', 'Mondo Marcio', 263.60118)
("Someone Else's Arms", 'Mae', 309.15873)
("The Future Ain't What It Used To Be", 'Meat Loaf / Jennifer Hudson', 474.01751)
('A-Punk (Album)', 'Vampire Weekend', 137.82159)
('Time To Pretend', 'MGMT', 264.17587)
('Luna y Sol', 'Federico Aubele', 213.65506)
('Touch My Horn', 'Jesse Rose', 313.15546)
('Eternity', 'Orion', 292.70159)
('Dyed in the Wool (Album Version)', 'Circa Survive', 298.70975)
('Wretchrospective (feat. Vis)', 'Wretch 32_ Vis', 243.35628)
('Simple', 'Simian Mobile Disco', 354.61179)
('Riecht wie Teen Spirit (Smells Like Teen Spirit)', 'ErdmÃ\x83Â¶bel', 289.25342)
('Adrenalin', 'Eisbrecher', 241.89342)
('Bread & Water', 'Ryan Bingham', 247.30077)
('VooDoo', 'Ashanti', 282.46159)
('Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 277.15873)
("Frankie's Office", 'Clint Eastwood', 65.25342)
('Fireflies', 'Charttraxx Karaoke', 225.17506)
('Summer Breeze', 'Jason Mraz', 264.69832)
('Love Shack', "The B-52's", 321.54077)
('Alexandra', 'Aventura', 242.1024)
('Canada', 'Five Iron Frenzy', 236.09424)
('Anthem For The Underdog', '12 Stones', 184.0322)
('Revelry', 'Kings Of Leon', 201.79546)
('Get Ready To Bounce Recall 08', 'Brooklyn Bounce', 359.13098)
('The Good Fight', 'Dashboard Confessional', 147.30404)
('Low Land Moan', 'Lonnie Johnson', 194.55955)
('In', 'Leggo Beast', 376.58077)
('Sway', 'The Pussycat Dolls', 190.95465)
('I Miss You Now', 'Stereophonics', 290.53342)
('Masculine Eclipse', 'The Beautiful South', 236.5122)
('As If Set Afire', 'The Acacia Strain', 194.21995)
('Underwater World', 'ATB', 251.48036)
('Our Last Time', 'The Robert Cray Band', 309.52444)
('T.N.T. For The Brain (112 Bpm) (Radio Edit)', 'Enigma', 242.78159)
('Tattered Banners And Bloody Flags', 'Amon Amarth', 268.2771)
('The Great Escape (Album Version) (Explicit)', 'We Are Scientists', 198.89587)
('Lacreme napulitane', 'Roberto Murolo', 188.02893)
('Autobiography', 'Ashlee Simpson', 214.43873)
('The Ecstasy Of Gold', 'Metallica', 152.60689)
('Kryptonite', '3 Doors Down', 233.74322)
('No Fool (For Love)', 'Hazell Dean', 367.98649)
('Pray', 'Apocalyptica', 262.5824)
('Bubble Toes', 'Jack Johnson', 236.93016)
('Lotus', 'Cage The Elephant', 196.38812)
('You Belong With Me', 'Taylor Swift', 230.47791)
('Candy Rain', 'Soul For Real', 271.25506)
('Firestarter', 'The Prodigy', 225.09669)
('Addicted', 'Amy Winehouse', 165.11955)
('The Evil That Men Do (1998 Digital Remaster)', 'Iron Maiden', 275.19955)
('All Around Me', 'David Crowder*Band', 276.74077)
('Everyday', 'The Cinematic Orchestra', 622.2624)
('Feel It', 'Three 6 Mafia vs. TiÃ\x83Â«sto with Sean Kingston and Flo Rida', 241.05751)
('Overload', 'Sugababes', 275.93098)
('Hold You', 'Gyptian', 233.09016)
('The Way She Moves', 'Zion / Akon', 233.19465)
('I Want Your Love', 'Transvision Vamp', 209.91955)
('Corrido de Boxeo', 'Ry Cooder', 201.56036)
('When I Grow Up', 'The Pussycat Dolls', 245.18485)
('Yellow', 'Coldplay', 268.30322)
('She Likes (Bittersweet Love)', 'Forever The Sickest Kids', 169.482)
('Believe That', 'Lil Wayne / Blaque / Mannie Fresh', 255.34649)
('Through The Fire And Flames (Album Version)', 'Dragonforce', 441.02485)
('Lucky (Album Version)', 'Jason Mraz & Colbie Caillat', 189.6224)
('Is She Weird', 'Pixies', 181.13261)
('Without Me', 'Eminem', 251.55873)
('Cry No More', 'Buju Banton', 232.48934)
('Lotus', 'Cage The Elephant', 196.38812)
('Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 277.15873)
('Le Million', 'Ste Strausz', 285.36118)
('Only Superstition', 'Coldplay', 228.62322)
('Bedroom Suite', 'Joe Christmas', 185.7824)
('A New Arrangement', 'Bright Eyes', 313.23383)
('The Only Exception (Album Version)', 'Paramore', 267.65016)
('Sinisten tÃ\x83Â¤htien alla', 'J. Karjalainen & Mustat Lasit', 336.74404)
('Knee 2', 'Philip Glass', 368.40444)
('SinceritÃ\x83Â© Et Jalousie', 'Alliance Ethnik', 195.94404)
('Her Voice Is Beyond Her Years', 'Mew', 167.75791)
('If You Leave Me Now', 'Ive Mendes', 238.94159)
('SinceritÃ\x83Â© Et Jalousie', 'Alliance Ethnik', 195.94404)
('Diamond Dave', 'the bird and the bee', 193.802)
('1999', 'Common / Sadat X', 256.20853)
('King Of Pain (Live/Unplugged Version)', 'Alanis Morissette', 245.15873)
('Rebirthing (Album Version)', 'Skillet', 233.32526)
('Beauty and the Beast', 'James Galway;Julian Lee', 218.67057)
('Dressed For Friend Requests (Album Version)', 'Drop Dead_ Gorgeous', 156.70812)
("You're The One", 'Dwight Yoakam', 239.3073)
("Tuesday's Child", 'Trouble', 205.11302)
('All The Right Moves', 'OneRepublic', 237.97506)
('Wicked', 'Switchblade Symphony', 259.5522)
('My Distressor 40Khz ReRub Mix', 'Sharooz', 234.05669)
('Six Days At The Bottom Of The Ocean', 'Explosions In The Sky', 522.9971)
('Little Bird', 'Emmylou Harris', 194.63791)
('The Horizon Has Been Defeated', 'Jack Johnson', 153.67791)
('Everything In Its Right Place', 'Radiohead', 249.93914)
('Heretics', 'Andrew Bird', 215.87546)
('Sabbra Cadabra', 'Metallica', 380.21179)
('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 181.21098)
('Shattered', 'Dropkick Murphys', 167.73179)
('As The Rhyme Goes On', 'Eric B. & Rakim', 240.32608)
('Settle For A Slowdown', 'Dierks Bentley', 223.242)
('Daniel Cowman', 'Regina Spektor', 290.14159)
('Make You Sin', 'Angelspit', 241.94567)
('Roc U', 'Young Gunz / Beanie Sigel', 292.44036)
('Sexy Bitch', 'DJ Dizzy', 221.1522)
('Sayonara-Nostalgia', 'Base Ball Bear', 255.60771)
('In The Hands Of The Gods (Featuring Biz Markie)', 'Morcheeba', 101.95546)
("Don't Forget To Breathe", 'Bitter:Sweet', 194.16771)
("Now You're Gone", 'Basshunter Feat. DJ Mental Theo\x19s Bazzheadz', 152.65914)
('Undo', 'BjÃ\x83Â¶rk', 348.57751)
('G4L', 'Rihanna', 239.75138)
('Hello', 'Evanescence', 220.3424)
('Tamale', 'Mr. Vegas', 240.69179)
('Another Place', 'Mischa Daniels', 419.81342)
('Straight To Hell', 'The Menzingers', 276.00934)
('Cry Me A River', 'Justin Timberlake', 288.93995)
('Un Camino Hasta Vos', 'Vilma Palma e Vampiros', 338.18077)
('Sura (2008 Digital Remaster)', 'CCCP - Fedeli Alla Linea', 329.66485)
('Pursuit Of Happiness (nightmare)', 'Kid Cudi / MGMT / Ratatat', 295.67955)
('Forever', 'Drake / Kanye West / Lil Wayne / Eminem', 357.66812)
('Homesick [Acoustic]', 'A Day To Remember', 247.64036)
('Dead And Gone [feat. Justin Timberlake] (Explicit Album Version)', 'T.I.', 299.75465)
("It'll Be a Long Time (Album Version)", 'The Offspring', 163.3171)
('Esta Es Para Hacerte FÃ\x83Â©liz', 'Jorge Gonzalez', 272.14322)
('Spin Spin Sugar', 'Sneaker Pimps', 260.91057)
('This War Is Ours (The Guillotine II)', 'Escape The Fate', 266.73587)
('La Vida Es Un Ratico', 'Juanes', 243.27791)
('Never Mind', 'The Replacements', 170.57914)
('Possession', 'Sarah McLachlan', 278.90893)
("Don't Start Me Talkin'", 'Sonny Boy Williamson', 152.24118)
('Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler)', 'Soul II Soul Featuring Caron Wheeler', 225.2273)
('Dog Days Are Over (Radio Edit)', 'Florence + The Machine', 219.66322)
('Heresy  (LP Version)', 'Pantera', 286.69342)
('Remedy', 'Cold', 177.76281)
('Frozen Angel', 'Norther', 246.54322)
('The Pretender', 'Foo Fighters', 271.38567)
('Besos De Ceniza', 'Timbiriche', 202.60526)
('Rose', 'A Perfect Circle', 206.05342)
('The Haunting', 'Anberlin', 348.682)
('Anything You Say (Unreleased Version)', 'Deas Vail', 237.68771)

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.